# This is an example of your .env file format, which pnpm db:setup will create.
# Note: this must be .env, not .env.local, without further configuration changes.
POSTGRES_URL=postgresql://user:password@host/database
POSTGRES_URL_NON_POOLING=postgresql://user:password@host/database
STRIPE_SECRET_KEY=sk_test_replace_me
STRIPE_WEBHOOK_SECRET=whsec_replace_me
BASE_URL=http://localhost:3000
AUTH_SECRET=saas-starter-change-me-in-production
UPLOADTHING_SECRET=sk_live_replace_me
UPLOADTHING_APP_ID=replace_me
UPLOADTHING_TOKEN=replace_me
